# ==========================================
# Python
# ==========================================

__pycache__/
*.py[cod]
*$py.class

# ==========================================
# Virtual Environment
# ==========================================

.venv/
venv/
env/

# ==========================================
# SQLite Database
# ==========================================

database/*.db
*.sqlite3

# ==========================================
# Excel Reports
# ==========================================

exports/*.xlsx
exports/*.xls
exports/*.csv

# ==========================================
# Logs
# ==========================================

logs/*.log
logs/*.txt

# ==========================================
# IDE
# ==========================================

.vscode/
.idea/

# ==========================================
# OS Files
# ==========================================

.DS_Store
Thumbs.db

# ==========================================
# Python Tools
# ==========================================

.pytest_cache/
.mypy_cache/
.ruff_cache/

# ==========================================
# Build Files
# ==========================================

build/
dist/
*.egg-info/
*.spec

# ==========================================
# Environment Variables
# ==========================================

.env

# ==========================================
# Temporary Files
# ==========================================

*.tmp
*.bak

# Whisper Cache
.cache/